<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlwB7RRjwxxQMoD_ddGnC-lHxFox6d6HY</string>
	<key>GCM_SENDER_ID</key>
	<string>861311883307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carbonFoodprintPro</string>
	<key>PROJECT_ID</key>
	<string>carbontrack-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>carbontrack-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861311883307:ios:c534e0696309e7c9b4b26e</string>
	<key>DATABASE_URL</key>
	<string>https://carbontrack-pro-default-rtdb.firebaseio.com</string>
</dict>
</plist>